<link id="print-certificate-styles" rel="stylesheet"
      href="/bahmni_config/openmrs/apps/customDisplayControl/styles/print.css"/>

<section class="app-dashboard-integration">
    <h2 class="section-title"><span style="border-bottom: 1px solid white;">{{ section.title | titleTranslate}}</span>
    </h2>

    <ul style="font-size: 14px;color: #000000">
        <li class="display-title">
            <span style="padding-left: 10px"> {{::"UNDER_TREATMENT_CERTIFICATE" | translate}} </span>
            <button ng-click="printCertificate('under-treatment')" class="print-button"
                    ng-disabled="printControl['Under Treatment and Fitness Certificate']">{{::"PRINT_BUTTON" | translate}}
            </button>
        </li>
        <ul  class="form-field">
            <li>{{::"NAVIGATE_TO_UNDER_TREATMENT_CERTIFICATE_FORM" | translate}}</li>
        </ul>
    </ul>
    <ul style="font-size: 14px;color: #000000">
        <li class="display-title">
            <span style="padding-left: 10px"> {{::"FITNESS_CERTIFICATE" | translate}} </span>
            <button ng-click="printCertificate('fitness-certificate')" class="print-button"  ng-disabled="printControl['Under Treatment and Fitness Certificate']">{{::"PRINT_BUTTON" | translate}}</button>
        </li>
        <ul  class="form-field">
            <li>{{::"NAVIGATE_TO_UNDER_TREATMENT_CERTIFICATE_FORM" | translate}}</li>
        </ul>
    </ul>
</section>

<div id="under-treatment" class="no-print">
    <div class="row space-centre position-relative">
        <div class="left position-absolute">
            <span><img src="/bahmni_config/openmrs/apps/customDisplayControl/images/bahmniLogo.png"
                       style="width: 24mm;"/></span>
        </div>
        <div class="right">
           <span>
              <h1 class="name" style="text-align: center;">
                {{ registeredClinicName  }}
              </h1>
             <span>
              <h5 class="name" style="text-align: center;">
                {{ registeredClinicAddress}} <br>
                  {{postalAddress}}
              </h5>
              </span>
          </span>
        </div>
    </div>
    <hr>
    <div>
        <span class="label"><h3 style="text-align: center; font-size: xx-large">{{::"UNDER_TREATMENT_CERTIFICATE" | translate}}</h3></span>
    </div>
    <div>
        <div style="text-align: left;">
            <span class="label">{{::"DATE_LABEL" | translate}}</span>
            <span>{{today | date:'dd/MM/yyyy'}} </span> </br>
            <span class="label">{{::"PATIENT_REGISTRATION_NO_LABEL" | translate}}</span>
            <span>{{patient.identifier}}</span>
        </div>
        <div>
            <font size="3">
                <h3 style="text-align: center; margin-bottom: 20px">{{::"CERTIFICATE_SUBJECT_1" | translate}}</h3>
                <p style="text-align: justify;">{{::"CERTIFICATE_SUBJECT_2" | translate}}<b> {{patient.givenName}} {{patient.middleName}}
                    {{patient.familyName}}</b> <p translate="AGE_LABEL" translate-values="{patient:{{patient}}}"></p> {{::"CERTIFICATE_SUBJECT_3" | translate}}
                    <span treatment patient="patient">{{formFieldValues[0]["Treatment plan"]}}</span>.
                </p>
                <p style="margin-top: 10px">{{::"CERTIFICATE_SUBJECT_4" | translate}}<span duration
                                                                                            patient="patient">{{formFieldValues[0]["Rest duration"]}}</span>
                </p>
                <p class="signature"style="margin-top: 20px">{{::"REGARDS_LABEL" | translate}}</p>
                <p class="signature"><b>{{doctorName}},</b></p>
                <p class="signature">{{::"REG_NO_LABEL" | translate}} {{registrationNumber}}. </p>
            </font>
        </div>
    </div>
</div>

<div id="fitness-certificate" class="no-print">
    <div class="row space-centre position-relative ">
        <div class="left position-absolute">
            <span><img src="/bahmni_config/openmrs/apps/customDisplayControl/images/bahmniLogo.png"
                       style="width: 24mm; "/></span>
        </div>
        <div class="right">
           <span>
              <h1 class="name" style="text-align: center;">
                {{ registeredClinicName  }}
              </h1>
             <span>
              <h5 class="name" style="text-align: center;">
                {{ registeredClinicAddress}} <br>
                  {{postalAddress}}
              </h5>
              </span>
          </span>
        </div>
    </div>
    <hr>

    <div>
        <span class="label"><h3 style="text-align: center;">{{::"FITNESS_CERTIFICATE" | translate}}</h3></span>
    </div>
    <div>
        <div style="text-align: left;">
            <span class="label">{{::"DATE_LABEL" | translate}}</span>
            <span>{{today | date:'dd/MM/yyyy'}} </span> </br>
            <span class="label">{{::"PATIENT_REGISTRATION_NO_LABEL" | translate}}</span>
            <span>{{patient.identifier}}</span>
        </div>
        <div class="content-body">
            <font size="3">
                <h3 style="text-align: center;">{{::"CERTIFICATE_SUBJECT_1" | translate}}</h3>
                <p style="text-align: justify;">{{::"CERTIFICATE_SUBJECT_2" | translate}}<b> {{patient.givenName}} {{patient.middleName}}
                    {{patient.familyName}}</b> {{::"AGE_LABEL" | translate}}  {{patient.age || "0"}} {{::"CERTIFICATE_SUBJECT_5" | translate}}
                    <span treatment patient="patient">{{formFieldValues[0]["Treatment plan"]}}</span>.
                    {{patient.givenName}} {{patient.middleName}}
                    {{patient.familyName}}  {{::"CERTIFICATE_SUBJECT_6" | translate}}</p>
                <p class="signature" style="margin-top: 20px">{{::"REGARDS_LABEL" | translate}}</p>
                <p class="signature"><b>{{doctorName}},</b></p>
                <p class="signature">{{::"REG_NO_LABEL" | translate}} {{registrationNumber}}. </p>
            </font>
        </div>
    </div>

</div>