<link id="print-certificate-styles" rel="stylesheet"
      href="/bahmni_config/openmrs/apps/customDisplayControl/styles/print.css"/>

<section class="app-dashboard-integration">
    <h2 class="section-title"><span style="border-bottom: 1px solid white;">{{ section.title | titleTranslate}}</span>
    </h2>

    <ul style="font-size: 14px;color: #000000">
        <li class="display-title">
            <span style="padding-left: 10px"> {{::"UNDER_TREATMENT_CERTIFICATE" | translate}} </span>
            <button ng-click="printCertificate('under-treatment')" class="print-button"
                    ng-disabled="printControl['Under Treatment Certificate']">Print
            </button>
        </li>
    </ul>
    <hr class="break-line">
    <ul style="font-size: 14px;color: #000000">
        <li class="display-title">
            <span style="padding-left: 10px"> {{::"FITNESS_CERTIFICATE" | translate}} </span>
            <button ng-click="printCertificate('fitness-certificate')" class="print-button"  ng-disabled="printControl['Under Treatment Certificate']">Print</button>
        </li>
    </ul>
</section>

<div id="under-treatment" class="no-print">
    <div class="row space-centre position-relative">
        <div class="left position-absolute">
            <span><img src="/bahmni_config/openmrs/apps/customDisplayControl/images/bahmniLogo.png"
                       style="width: 24mm;"/></span>
        </div>
        <div class="right">
           <span>
              <h1 class="name" style="text-align: center;">
                {{ registeredClinicName  }}
              </h1>
             <span>
              <h5 class="name" style="text-align: center;">
                {{ registeredClinicAddress}} <br>
                  {{postalAddress}}
              </h5>
              </span>
          </span>
        </div>
    </div>
    <hr>
    <div>
        <span class="label"><h3 style="text-align: center; font-size: xx-large">Under Treatment Certificate</h3></span>
    </div>
    <div>
        <div style="text-align: left;">
            <span class="label">Date:</span>
            <span>{{today | date:'dd/MM/yyyy'}} </span> </br>
            <span class="label">Patient Registration No:</span>
            <span>{{patient.identifier}}</span>
        </div>
        <div>
            <font size="3">
                <h3 style="text-align: center; margin-bottom: 20px">WHOM IT MAY CONCERN</h3>
                <p style="text-align: justify;">This is to inform that<b> {{patient.givenName}} {{patient.middleName}}
                    {{patient.familyName}}</b> Age: {{patient.age || "0"}} years, is undergoing treatment for
                    <span treatment patient="patient">{{formFieldValues[0]["Treatment plan"]}}</span>.
                </p>
                <p style="margin-top: 10px">They have been advised to take bed rest for <span duration
                                                                                            patient="patient">{{formFieldValues[0]["Rest duration"]}}</span>
                </p>
                <p class="signature"style="margin-top: 20px">Regards,</p>
                <p class="signature"><b>{{doctorName}},</b></p>
                <p class="signature">Reg.No. {{registrationNumber}}. </p>
            </font>
        </div>
    </div>
</div>

<div id="fitness-certificate" class="no-print">
    <div class="row space-centre position-relative ">
        <div class="left position-absolute">
            <span><img src="/bahmni_config/openmrs/apps/customDisplayControl/images/bahmniLogo.png"
                       style="width: 24mm; "/></span>
        </div>
        <div class="right">
           <span>
              <h1 class="name" style="text-align: center;">
                {{ registeredClinicName  }}
              </h1>
             <span>
              <h5 class="name" style="text-align: center;">
                {{ registeredClinicAddress}} <br>
                  {{postalAddress}}
              </h5>
              </span>
          </span>
        </div>
    </div>
    <hr>

    <div>
        <span class="label"><h3 style="text-align: center;">Fitness Certificate</h3></span>
    </div>
    <div>
        <div style="text-align: left;">
            <span class="label">Date:</span>
            <span>{{today | date:'dd/MM/yyyy'}} </span> </br>
            <span class="label">Patient Registration No:</span>
            <span>{{patient.identifier}}</span>
        </div>
        <div class="content-body">
            <font size="3">
                <h3 style="text-align: center;">WHOM IT MAY CONCERN</h3>
                <p style="text-align: justify;">This is to inform that<b> {{patient.givenName}} {{patient.middleName}}
                    {{patient.familyName}}</b> Age: {{patient.age || "0"}} years, was undergoing treatment for
                    <span treatment patient="patient">{{formFieldValues[0]["Treatment plan"]}}</span>.
                    {{patient.givenName}} {{patient.middleName}}
                    {{patient.familyName}} is now fit to resume daily
                    activities. </p>
                <p class="signature" style="margin-top: 20px">Regards,</p>
                <p class="signature"><b>{{doctorName}},</b></p>
                <p class="signature">Reg.No. {{registrationNumber}}. </p>
            </font>
        </div>
    </div>

</div>