@page {
    margin: 0.7cm;
}
.break-line {
    margin: 1px;
}
.no-print {
    height: 0;
    overflow: hidden;
}

li.display-title {
    display: flex;
    justify-content: space-between;
    background-color: #ddd;
    padding-top: 3px;
    padding-bottom: 3px;
    align-items: center;
}

button.print-button {
    margin-right: 1em;
}
.row {
   display: flex;
}
.row.space-between {
    justify-content: space-between;
}