@page {
    margin: 0.7cm;
}
.break-line {
    margin: 1px;
}
.no-print {
    height: 0;
    overflow: hidden;
}
.print-wrap {
    max-width: 21cm;
    padding: 10px 40px 0;
    margin: 0 auto;
}
li.display-title {
    display: flex;
    justify-content: space-between;
    background-color: #ddd;
    padding-top: 3px;
    padding-bottom: 3px;
    align-items: center;
}

button.print-button {
    margin-right: 1em;
}
.row {
   display: flex;
}
.row.space-between {
    justify-content: space-between;
}
.fill_in_blank {
display: inline-block;
border-bottom: 1px solid;
width: 30px;
}
.row.space-centre {
    justify-content: center;
}
.float-left {
 float: left;
}
.float-right {
    float: right;
}
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
    left: 0;
}
h1.name {
    margin: 0 ;
}
h5.name {
    margin-top: 0;
    margin-bottom: 20px;
}
.signature {
    margin-bottom: 2px;
    margin-top: 2px;
}