name: Build and Upload
on:
  push:
    branches:
      - main
      - BAH-1606
    paths-ignore:
      - '**.md'

env:
  ORG_NAME: BahmniIndiaDistro
  EVENT_TYPE: clinic-config-trigger
jobs:
  build-upload-artifact:
    name: Build and Upload
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Generate Artifact
        run: ./package/package.sh
      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: ClinicConfig
          path: target/clinic_config.zip
  trigger-dependent-repos:
    name: Trigger Workflows
    needs: build-upload-artifact
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dependent-repos: ['bahmni-india-package']
    steps:
      - name: Create repository_dispatch
        env:
          REPOSITORY_NAME: ${{ matrix.dependent-repos }}
        run: |
          trigger_result=$(curl -s -o trigger_response.txt -w "%{http_code}" -X POST -H "Accept: application/vnd.github.v3+json" -H 'authorization: Bearer ${{ secrets.BAHMNI_PAT }}' https://api.github.com/repos/${ORG_NAME}/${REPOSITORY_NAME}/dispatches -d '{"event_type":"'"${EVENT_TYPE}"'"}')
          if [ $trigger_result == 204 ];then
            echo "Trigger to $ORG_NAME/$REPOSITORY_NAME Success"
          else
            echo "Trigger to $ORG_NAME/$REPOSITORY_NAME Failed"
            cat trigger_response.txt
            exit 1
          fi
  notification:
    name: notification
    needs:
      - build-upload-artifact
      - trigger-dependent-repos
    runs-on: ubuntu-latest
    steps:
      - name: Deploy success notification
        if: ${{ needs.deploy.result == 'success' }}
        run: |
          curl -X POST -H 'Content-type: application/json' --data '{"text":":large_green_circle:  Clinic config is packaged and bahmni-india-package is triggered "}' ${{ secrets.SLACK_WEBHOOK_URL }}
      - name: Deploy failure notification
        if: ${{ needs.deploy.result != 'success' }}
        run: |
          curl -X POST -H 'Content-type: application/json' --data '{"text":":red_circle: Failed to package clinic-config and trigger bahmni-india-package "}' ${{ secrets.SLACK_WEBHOOK_URL }}
